
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    background: #f9f9f9;
    color: #333;
    min-height: 100vh;
  }
  
  header {
    text-align: center;
    padding: 50px 20px 20px 20px;
    background: linear-gradient(to right, #003366, #0055aa);
    color: white;
  }
  
  header h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  header p {
    font-size: 18px;
  }
  
  .cursos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 40px;
    max-width: 1200px;
    margin: 50px auto 0 auto; /
  }
  
  
  .curso-card {
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px 20px;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .curso-card h2 {
    font-size: 24px;
    color: #003366;
    margin-bottom: 10px;
  }
  
  .curso-card p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .curso-card a {
    text-decoration: none;
    color: white;
    background: #003366;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 14px;
    transition: background 0.3s;
  }
  
  .curso-card a:hover {
    background: #0052cc;
  }
  
  
  .curso-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);   
  }
  

  header {
    position: relative;
    text-align: center;
    padding: 20px;
  }
  
  .btn-voltar {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
  
  .btn-voltar:hover {
    color: #555;
  }
  
 