* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right, #003366, #0055aa);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
    background-color: var(--primary);
    color: white;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  header .container2 {
    display: flex;
    justify-content:center;
    align-items: center;
    margin: auto;  
  }

.btn-voltar {
    position: absolute;
    left: 20px;
    bottom: 25%;                 /*Ajustar pra subir um pouco*/
    transform: translateY(-50%);
    font-size: 24px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.btn-voltar:hover {
    color: #cccccc;
}
 
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #003366;
    padding: 45px 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-content {
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    position: relative;
}

.navbar-exit {
    color: white;
    font-size: 24px;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 20px;
}

.navbar-title {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}

.navbar-spacer {
    width: 40px;
}


.navbar-title {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-spacer {
    width: 40px;
 }

.container {
  background: #fff;
  padding: 140px 30px;
  border-radius: 20px;
  width: 360px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.15);
}

.toggle-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  background: #f1f1f1;
  border-radius: 30px;
  padding: 5px;
}

.toggle-btn {
  flex: 1;
  background: none;
  border: none;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 0;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.toggle-btn.active {
  background: linear-gradient(to right, #003366, #0055aa);
  color: white;
}

.form {
  display: none;
  flex-direction: column;
  gap: 20px;
}

.form.active {
  display: flex;
}

.input-field {
  position: relative;
}

.input-field input {
  width: 100%;
  padding: 14px 14px 14px 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 14px;
  outline: none;
  transition: 0.3s;
  background: #f9f9f9;
}

.input-field label {
  position: absolute;
  left: 40px;
  top: 14px;
  color: #aaa;
  font-size: 14px;
  pointer-events: none;
  transition: 0.3s ease;
}



  body {
    background-image: url('https://images.adsttc.com/adbr001cdn.archdaily.net/wp-content/uploads/2012/02/1329314950_plugminas_caminhos_do_futuro_p_l_459_297_e_gustavo_xavier.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    animation: moveBackground 20s infinite linear;
  }


   @keyframes moveBackground {
    0% { background-position: center; }
    50% { background-position: center top; }
    100% { background-position: center; }
  }


.input-field input:focus + label,
.input-field input:valid + label {
  top: -8px;
  left: 35px;
  font-size: 12px;
  background: #fff;
  padding: 0 5px;
  background: linear-gradient(to right, #003366, #0055aa);
}

.input-field i {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
}

.submit-btn {
  padding: 12px;
  background: linear-gradient(to right, #003366, #0055aa);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
}

.submit-btn:hover {
  background: #5952d4;
}